[submodule "movan_protobuf"]
	path = movan_protobuf
	url = https://github.com/CGandGameEngineLearner/movan_protobuf.git
[submodule "common/movan_rpc"]
	path = common/movan_rpc
	url = https://github.com/CGandGameEngineLearner/movan_rpc.git
